h1{
    text-align: center;
    font-family: 'Passion One', cursive;
    font-weight: normal;
    color: #c0392b;
    padding: 10px;
    font-size: 48px;
}
body {
 background-image: url("svpfp.jpg");
}
.text2{
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    text-weight:normal;
    color: blue;
    font-size: 30px
}
.text3{
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    text-weight:normal;
    color: purple;
    font-size: 25px;
}
