body{
    background-image:url("svpfp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#discordJoin{
    position:absolute;
    border: 1px solid #99aab5;
    background-color : #7289da;
    width: 20%;
    right: 3%;
    top:3%;
}
#discordText{
    font-family:  sans-serif;
    color:white;
    font-size:19px;
    display:inline;
    top:10%;
}
#discordImg{
    display:inline;
    width:35px;
    height:35px;
}

#titleText{
    color:white;
    font-family:"Alfa Slab One", cursive;
    text-align:center;
    font-size:40px;
}
#description{
    text-align:center;
    color:blue;
    font-family:"Passion One", cursive;
}
